// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #AC4AF9;
$pink: #f66d9b;
$red: #DD3333;
$bright-red: #DD3333;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #579d3f;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000000;
$white: #ffffff;
$off-white: #F9FBFD;
$dark-grey: #3C3C3B;
$mid-light-grey: #6c757d;
$light-grey: #ddd;
$lighter-grey: #eee;
$blue-gray: #EDF2F9;
$eerie-black: #1a1a1a;
$astral: #2276aa;
$silver: #ccc;
$royal-blue-color: #2276aa;
$lightgreen: #76ff7b;
$lightblue: #add8e6;
$caper: #deeeac;
$alto: #e0e0e0;
$link-water: #E3EBF6;
$pigeon-post: #B1C2D9;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-weight-bold: 700;
$font-weight-light: 300;
$font-weight-normal: 400;

// Branding
$RSLR_WHITE: #ffffff;
$RSLR_OFF_WHITE: #F8F8F8;
$RSLR_BLUE: #2276aa;
$RSLR_GREY: #3C3C3B;
$RSLR_RED: #DD3333;
$RSLR_ORANGE: #F7931D;
$RSLR_GREEN: #579d3f;

// Transition
$RSLR_TRANSITION: cubic-bezier(.4,0,.2,1);